body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: ivory;
    margin: 0 auto;
    width: 80%;
}

h1 {
    margin: 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

p {
    text-align: center;
    width: 128px;
    margin: 0.5rem;
}

.btn1 {
    background-color: yellow;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    width: 128px;
    margin: 0.2rem;
}

.btn2 {
    background-color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    width: 128px;
    margin: 0.2rem;
}

.popup-hide {
    width: 128px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    visibility: hidden;
    text-align: center;
}

.popup-show {
    width: 128px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    visibility: visible;
    text-align: center;
}