body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: ivory;
    margin: 0 auto;
    width: 80%;
}

h1 {
    margin: 2rem;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
    width: 128px;
    margin: 0.5rem;
}

.btn-show {
    background-color: goldenrod;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    width: 128px;
    margin: 0.2rem;
}

.btn-hide {
    background-color: grey;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: small;
    width: 128px;
    margin: 0.2rem;
}

.popup-hide {
    width: 128px;
    height: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: none;
}

.popup-show {
    width: 128px;
    height: 200px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: block;
}

.btn-addbook {
    padding: 0.5rem 0.8rem;
    background-color: goldenrod;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-addbook {
    padding: 0.5rem;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    width: 25%;
}

