body {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    margin: 0 auto;
    width: 80%;
}

header {
    padding: 5px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}

.loader > span {
    display: inline-block;
    background-color: rgb(36, 103, 36);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    margin: 0 10px;
    animation: pulsate 0.75s infinite alternate;
}

.loader > span:nth-child(2) {
    background-color: rgb(78, 3, 78);
    animation-delay: 0.25s;
}

.loader > span:nth-child(3) {
    background-color: rgb(255, 218, 54);
    animation-delay: 0.5s;
}

@keyframes pulsate {
    to {
        width: 25px;
        height: 25px;
    }
}

.container {
    display: none;
    opacity: 0;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;
    align-content: flex-start;
    gap: 10px 20px;
    padding: 1rem;
    transition: opacity 1s ease-in;
}

.book:hover::before {
    content: 'Mehr...';
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px;
}

.book-button {
    border: none;
    background-color: white;
}

.bookcover {
    width: 146px;
    height: 220px;
}

.bookcover.empty {
    border: solid 1px grey;
    background-color: white;
}

.bookcover.empty p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;

}

.container > span {
    width: 90%;
    height: 1rem;
    background-image: linear-gradient(rgba(88, 88, 88, 0.5), rgba(88, 88, 88, 0));
    margin-bottom: 1rem;
}

#btn-addbook {
    padding: 0.5rem 0.8rem;
    background-color: goldenrod;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-addbook {
    padding: 0.5rem;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
    width: 25%;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .modal-title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .modal-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body {
    padding: 10px 15px;
}

form {
    padding: 2rem;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Das .5 macht es 50% transparent: */
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}